.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #D8BC75;
  width: 80%;
  max-width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30vh;
  border-radius: 10px;
}

.change-password-title {
  color: white;
  margin-bottom: 20px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.change-password-input {
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.change-password-input-container {
  position: relative;
}

.change-password-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.change-password-submit-button {
  background-color: #1F1300;
  color: white;
  border: none;
  padding: 15px;
  margin: 0 auto;
  width: 20vw;
  cursor: pointer;
}

@media (min-width: 600px) {
  .change-password-container {
      width: 75%;
  }
}

@media (min-width: 900px) {
  .change-password-container {
      width: 60%;
  }
}

@media (min-width: 1200px) {
  .change-password-container {
      width: 50%;
  }

  .change-password-submit-button {
    width: 10vw;
}
}
