.change-username-container,
.profile-change-container,
.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.change-username-form,
.profile-change-inner,
.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    background-color: #D8BC75;
    border-radius: 10px;
}

.change-username-form h1,
.profile-change-inner h1,
.change-password-title {
    color: white;
    margin-bottom: 30px;
}

.change-username-form input,
.profile-change-inner input,
.change-password-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #1F1300;
    margin-bottom: 40px;
}

.change-username-form button,
.profile-change-inner button,
.change-password-submit-button {
    background-color: #1F1300;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .change-username-form,
    .profile-change-inner,
    .change-password-form {
        width: 75%;
    }
}

@media (min-width: 900px) {
    .change-username-form,
    .profile-change-inner,
    .change-password-form {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .change-username-form,
    .profile-change-inner,
    .change-password-form {
        width: 50%;
    }
}
