.Cabecera {
  width: 100%;
  background-color: transparent; 
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Cabecera-button {
  display: flex;
  cursor: pointer;
  background-color: white; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.Cabecera-svg {
  width: 2em;
  height: 2em;
  fill: brown; 
}

.Cabecera-nav {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start; 
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  background-color: rgb(31,19,0); 
  text-align: left; 
}

.Cabecera-nav.isActive {
  height: auto;
  opacity: 1;
}

.Cabecera-ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.Cabecera-li {
  margin: 0.5em 0;
  list-style: none;
}

.Cabecera-a {
  margin-left: 10px;
  text-decoration: none; 
  color: white; 
}

@media screen and (max-width: 400px) {
  .Cabecera-button {
    display: flex;
  }

  .Cabecera-nav.isActive {
    height: 0;
    opacity: 0;
    background-color:rgb(31,19,0); 
  }
}
